.ipynb_checkpoints
*.pyc
*.png
*.jpg
*.gif

!example_input.png

# Ignore chessboard input images and tile outputs
chessboards/
tiles/

# Ignore reddit username/password config file
auth_config.py
praw.ini

# Ignore tracking files
*.txt
!requirements.txt

!readme_images/*
